.console {
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-family: "Courier New", Courier, monospace;
    height: 50vh;
    min-height: 15rem;
    overflow: scroll;
}

p {
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.error-log > .log-date {
    color: red;
}

.info-log > .log-date {
    color: coral;
}