<h3>Control Panel:</h3>
<div class="control-panel">
    <div class="authentication">
        <div class="row my-2">
            <div class="col-3">
                <h6 class="authentication-item-name">Philips Hue</h6>
            </div>
            <div class="col-auto">
                <div *ngIf="isHueAuthenticated" class="authentication-item-status">
                    <i class="successfully-authenticated-icon fas fa-check-circle fa-lg"></i>
                </div>
                <div *ngIf="!isHueAuthenticated" class="authentication-item-status">
                    <button (click)="authenticateHue()">Authenticate</button>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-3">
                <h6 class="authentication-item-name">Spotify</h6>
            </div>
            <div class="col-auto">
                <div *ngIf="isSpotifyAuthenticated" class="authentication-item-status">
                    <i class="successfully-authenticated-icon fas fa-check-circle fa-lg"></i>
                    <button class="authentication-logout" (click)="logoutSpotify()">Log out</button>
                </div>
                <div *ngIf="!isSpotifyAuthenticated" class="authentication-item-status">
                    <button (click)="authenticateSpotify()">Authenticate</button>
                </div>
            </div>
        </div>
    </div>
    <div class="visualiser-controller">
        <div class="row my-2">
            <div class="col-3">
                <h6 class="authentication-item-name">Visualiser</h6>
            </div>
            <div class="col-auto">
                <button [attr.disabled]="isHueAuthenticated && isSpotifyAuthenticated ? null : 'true'" (click)="toggleVisualiser()">{{ toggleVisualiserButtonText }}</button>
            </div>
        </div>
    </div>
</div>
