p {
  margin: 0;
}

.row {
  margin-bottom: 1rem;
}

.row:last-child {
  margin-bottom: 0;
}

.room {
  margin-bottom: 1rem;
}

.room:last-child {
  margin-bottom: 0;
}

.refresh-light-list-button {
  margin-left: 1rem;
}