<h3 style="display: inline-block;">Lights:</h3>
<button class="refresh-light-list-button" (click)="refreshLightsTable()" style="height: 1.8rem;"><i class="fas fa-sync-alt fa-sm"></i></button>
<div class="row">
    <div *ngFor="let room of config" class="col-6 col-md-4 col-lg-6 room">
        <h6>{{ room.name }}</h6>
        <div *ngFor="let light of room.lights" class="row">
            <div class="col-1">
                <input type="checkbox" [(ngModel)]="light.selected" [ngModelOptions]="{standalone: true}" (change)="updateConfig()">
            </div>
            <div class="col-auto">
                <p>{{ light.name }}</p>
            </div>
        </div>
    </div>
</div>
